engine-strict=true
@menzies-mariesta-com:registry=https://npm.pkg.github.com
# Netlify / CI: set NODE_AUTH_TOKEN to a GitHub PAT with read:packages
//npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}
